{% comment %}<a href="http://massageconfignon.datedechoix.com/" target="_blank"><img src="http://www.datedechoix.com/images/buttonFrenchSmall.gif" title="Prendre rendez-vous" alt="prise de rendez-vous en ligne" border="0"></a>{% endcomment %}
<div class="datedechoix">
	<p>
		<a href="https://boutique-bien-etre.com/9-massages" target="_blank" class="btn btn-primary">Réservez dans<br>ma boutique en ligne</a>
	</p>
</div>
