{% comment %}
<!--
Créer les bouttons “like” :
https://developers.facebook.com/docs/plugins/like-button?locale=fr_FR

Pour rafraîchir les infos vues par FB :
https://developers.facebook.com/tools/debug/og/object/
-->
{% endcomment %}
<div id="fb-root"></div>
<script async defer src="https://connect.facebook.net/fr_FR/sdk.js#xfbml=1&version=v3.2"></script>