<nav class="navbar navbar-default" role="navigation">
	<div class="container-fluid">
		<div class="navbar-header">
			<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
				<span class="sr-only">Alterner la navigation</span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
			</button>
			<a class="navbar-brand" href="index.html">l’instant précieux<br /><span>Massages de bien-être à Confignon</span></a>
		</div>
		<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
			<ul class="nav navbar-nav navbar-right">
				<li{% if page.url == "/" %} class="active"{% endif %}>
					<a href="index.html">Accueil</a>
				</li>
				<li{% if page.url == "/presentation" %} class="active"{% endif %}>
					<a href="presentation.html">Présentation</a>
				</li>
				<li{% if page.url == "/massages" %} class="active"{% endif %}>
					<a href="massages.html">Massages</a>
				</li>
				<li{% if page.url == "/horaires-tarifs" %} class="active"{% endif %}>
					<a href="horaires-tarifs.html">Horaires &amp; Tarifs</a>
				</li>
				<li{% if page.url == "/contact-acces" %} class="active"{% endif %}>
					<a href="contact-acces.html">Contact &amp; accès</a>
				</li>
			</ul>
		</div>
	</div>
</nav>
