<div class="col-sm-12 btn-prev-next text-center">
	<a id="bouton-prec" class="btn btn-primary bouton-prec" title="Page précédente" href="" role="button">«</a>
	<span>&nbsp;</span>
	<a class="btn btn-primary bouton-accueil" title="Retour à l’accueil" href="./" role="button">
		<img src="images/accueil-50x50.png" alt="...">
	</a>
	<span>&nbsp;</span>
	<a id="bouton-suiv" class="btn btn-primary bouton-suiv" title="Page suivante" href="" role="button">»</a>
</div>
