---
layout: default
---
<div class="container text-center contenu-principal animated fadeIn">
    <div class="row">
        <div class="col-sm-8 col-sm-offset-2">
            {{ content }}
        </div>
    </div>
</div>
