---
layout: pretty-print-compress
---
<html class="{{ page.image-de-fond }}" lang="{{ site.locale }}">
{% include head.liquid %}
<body class="theme-invert">
{% include analyticstracking.liquid %}
{% include facebook-sdk.liquid %}
{% include navigation.liquid %}
<div class="container text-center contenu-principal animated fadeIn">
    <div class="row">
        <div class="col-sm-8 col-sm-offset-2">
            {{ content }}
        </div>
    </div>
</div>
{% include footer.liquid %}
</body>
</html>
